{% extends "navbar.html" %}
{% block we %}
<h1 style="text-align: center;font-size: 55px">MYFLASK</h1>
<form style="padding: 60px  ;   padding-left: 423px;" action="/savethisdata" method="POST">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Todo title</label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter todo title" name="title">
  </div>
  <br>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Description</label>
    <textarea name="msg" class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Enetr your Description mesage"
    required></textarea>
  </div>
  <br>
  <div style=" padding-right: 229px;">
    <div style="text-align:center">
      <button type="submit" class="btn btn-primary">Add Todo</button>
  </div>
  </div>
 
</form>


{% endblock we %}